h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

section{
    position: fixed;
    z-index: 105;
}
body{
    font-family: sans-serif;
} 

/* ESTILOS GENERALES */
nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 4rem;
    position: relative;
}

nav li ul{
    position: absolute;

}

nav a{
    color: #ddd;
    display: block;
    padding: 0 5em;
    text-decoration: none;
    transition: .4s;
}

nav a:hover{
    background: rgba(0,0,0,.5);
    text-decoration: none;
}

/* PRIMER NIVEL */
.menu{
    background: #333;
    display: table;
    width: 200%;

}
.menu > li{
    float: left;
} 

/* SEGUNDO NIVEL */
nav li li{
    background: #222;
    max-height: 0;
    overflow: hidden;
    transition: all .6s;
    width: 250px;

}

nav li:hover > ul > li{
    max-height: 400px;
    overflow: visible;
}

.menu > li > ul{
    top: 100%;
}

/* TERCER NIVEL */
.menu ul ul{
    left: 100%;
    top: 0;
}


